# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
venv/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/

# Other
.DS_Store
